<title>Welcome</title>
<link rel="stylesheet" href="../css/site.css" />
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

<h1 class="heading" align="center">Welcome to Webalbum</h1>


<form method="get"  asp-controller="Account" asp-action="Register" style="margin-left:55%; margin-top:65px;">
    <button class="button_style" type="submit">Register</button>
</form>


<form method="get" asp-controller="Account" asp-action="Login" style="margin-left:45%">
    <button class="button_style" type="submit">Login</button>
</form>

