
    <h1 align="center" class="heading">Your password has been reset!</h1>
    <link rel="stylesheet" href="../css/site.css" />

    @using (Html.BeginForm("Login", "Account"))
    {<div align="center">
    <form method="get" action="/Account/Login">
        <input align="center" type="submit" class="input_style" value="to Login" />
    </form>
    </div>
}
